language: go
os: linux
arch: ppc64le
#go: "1.11.x"
cache:
  directories:
    - $HOME/.cache/go-build
    - $HOME/gopath/pkg/mod
env:
  - VERSION=v1.50.2

before_install:
  - sudo apt-get update
  - sudo apt-get install build-essential python3 tar wget
#  - python3 version.py
#  - RELEASE_VERSION=$(cat release_version.txt)
#  - FTP_VERSION=$(cat ftp_version.txt)
#  - BUILD=true
#  - if [ $RELEASE_VERSION == $FTP_VERSION ]; then
#    BUILD=false;
#    fi

script:
#  - RELEASE_VERSION=$(cat release_version.txt)
  - wget https://github.com/rclone/rclone/releases/download/$VERSION/rclone-$VERSION.tar.gz
  - tar -xzf rclone-$VERSION.tar.gz
  - mv rclone-$VERSION rclone
  - cd rclone
  - go env
  - ls
  - go build
  - mkdir output
  - mv rclone output/rclone-$VERSION
  - ls -la output

#deploy:
#  provider: script  
#  script: sudo apt-get install -y lftp; bash ftp_upload.sh
#  skip_cleanup: true

notifications:
  slack:
    rooms:
      - secure: "HZy/FgfkrWUPpMkZxRfJsjhBAKpqxlXvhBw3iRXhc3fw6udghc2vv4E0EM/8RtXijQhklG6DXGNKMQal1Uz/e9n1QDdQG7cZIOblJLPnXNARBIVzL8SxCR2hrgVoDyx1LWbxZHgzV/mlgdx9Qit/2RgNAnt2RrOCCBOTOIWbACQcFdnAQCbYYecFfnZyaeplZs8Lg5pTpWxN6OUA8n7UNYUJDblxeFUOYywjLly+DL/tCGTtZhuWjbBbefToJHNfkxh3/uLT3GZfd91k6QCj5t4ZzAG50fv2rGY+04I3aBE4v2QmN54gkSrX8VaeZg1rJKlfnNUo2PCMlZn31if3MODiwVzyJ8DidD9kK1/0TjH4NdS+zRYoQQ6nk6QRAY8MJvS+h7+uFEw5zy3lVniPvn0msODEoJ36n0NSOs/1x/7uJ8qxWyaIO6JCH+DklDaWNEB4OHr4Jp1bl+DFjiOLbFI2NsIQrjLndJ6juA2O4xP1AF4kCFiChEGNDIlEoq4zv3pce8BaJ/OWS8ehPYnxfAmx781bX/pfOaSvpxR4uFEbwbsT3HGXrm9/IQmD2yFu6U8KLaEEoTIBS+hkbAHj66WyEggjWvHslCkNVgmGrN6lfZhEJvYoKg1cAq1MTq5CckiuIZbR6bH8Df/9+04cgei4e20KYkgfchtC84Nmnks="
    on_success: change
    on_failure: always
